<html>
    {% load staticfiles %}
    <head>
        <link rel="icon" type="image/png" sizes="16x16"  href="../static/images/favicon.ico">
        <title>Blog - Olena Kovpak</title>
    </head>
    <body>
        <p>Olena Kovpak's blog</p>
        {% for post in posts %}
            {% if post.title %}
                <p>{{ post.title }}</p>
            {% endif %}
            {% if post.image %}
                <img src='{{ post.image.url }}' alt='An image'/>
            {% endif %}
        {% endfor %}
    </body>
</html>