<html>
{% load staticfiles %}
    <head>
        <title>Blog - Olena Kovpak</title>
<link rel='shortcut icon' type='image/png' href='{% static 'images/favicon.ico' %}'/>
<link rel="icon" type="image/png" sizes="16x16"  href="../static/images/favicon.ico">
    </head>
    <body>
        <p>Olena Kovpak's blog</p>
        {% for post in posts %}
            {% if post.title %}
                <p>{{ post.title }}</p>
            {% endif %}
            {% if post.image %}
                <p>{{ post.image.url }}</p>
                <img src="{% static '{{ post.image.url }}' %}" alt="Здесь должна быть картинка" />
            {% endif %}
        {% endfor %}
    </body>
</html>