<html>
    {% load staticfiles %}
    <head>
        <link rel="icon" type="image/png" sizes="16x16"  href="{% static '../static/images/favicon.ico' %}">
        <title>About Olena Kovpak</title>
    </head>
    <body>
        <p>Olena Kovpak: about an artist</p>
        {% for post in posts %}
            {% if post.text %}
                <p>{{ post.text }}</p>
            {% endif %}
            {% if post.image %}
                <img src="{{ post.image.url }}" alt='An image'/>
            {% endif %}
        {% endfor %}
    </body>
</html>