<html>
    {% load staticfiles %}
    <head>
        <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'favicon.ico' %}">
        <title>About Olena Kovpak</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'about.css' %}">
    </head>
    <body style="background-color:rgb(235,235,235); overflow-x:hidden;">
        <div class="page-header">
            <h1>
                <a href="/home/" style="position:absolute; top:1.5em; left:4em;">HOME</a>
                <a href="/about/" style="color:white; position:absolute; top:1.5em; left:10em;">ABOUT</a>
                <a href="/works/" style="position:absolute; top:1.5em; left:16.75em;">WORKS</a>
                <a href="/eventsandworkshops/" style="position:absolute; top:1.5em; left:23.75em;">EVENTS&amp;WORKSHOPS</a>
                <a href="/blog/" style="position:absolute; top:1.5em; left:39.75em;">BLOG</a>
                <a href="/contacts/" style="position:absolute; top:1.5em; left:45.6em;">CONTACTS</a>
            </h1>
        </div>
        <div>
            <h1><a href="/home" style="text-decoration:none; background-color:rgb(131,170,162); color:white; display:block; text-align:center; margin-top:0em; padding-top:3.5em; padding-bottom:2.5em;">OLENA KOVPAK FINE ART &copy;</a></h1>
        </div>
        <img src="{% static 'canson.png' %}" style="position:absolute; top:35em; left:10em;" alt="Sponsored logo"/>
        <div class="content container" style="margin-top:5.7em;">
            <div class="row">
                <div class="col-md-8">
                    <h1>OLENA KOVPAK</h1>
                    {% for post in posts %}
                        <div class="post">
                            {% if post.text %}
                                {{ post.text|linebreaksbr }}
                            {% endif %}
                            <p/>
                            <p/>
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt='An image' style="float:right"/>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p></p>
        <p></p>
        <p><a href="/cookies/" style="padding-left:1.45em;">Cookies policy</a>
           <a href="/login/" style="float:right; padding-right:1.45em;">Login</a>
           
        </p>
    </body>
</html>